*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: var(--color-primary);
  color: var(--color-tertiary);
  overflow: hidden;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  height: 70px;
}

.header-left{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header-left a {
  font-size: 1rem; 
  color: var(--color-tertiary); 
  text-decoration: none; 
}

.header-left a:hover {
  color: var(--color-neutral);
  text-decoration: underline;
}

.header-right{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.pulmon-icon {
  width: 100px;
  height: 100px;
}


