/*Sección Explora en 3D*/
/* .explore-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    min-width: 100vh;
} */
