.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

h1 {
  font-size: 2rem;
  color: #333;
}

.subtitle {
  font-size: 1.5rem;
  color: #777;
}
